html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        title 지급된 프로젝트 관리
        link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
        link(href="/stylesheets/support-log.css", rel="stylesheet")
        script(src="/javascripts/jquery-3.4.1.js")
        script(src="/javascripts/bootstrap.js")
        script(src="/javascripts/bootstrap.min.js")
       
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
            div.container
                a.navbar-brand(href="/auth/adminlogin") 크라우드 서비스 관리
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler.icon
                div.collapse.navbar-collapse#navbarResponsive
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link(href="/project/support/log") 모금 현황 조회
                        li.nav-item
                            a.nav-link(href="/project/user/display") 회원 관리
                        li.nav-item
                            a.nav-link(href="/auth/userwithdrawl") 회원 탈퇴
                        li.nav-item
                            a.nav-link(href="/project/manager") 프로젝트 관리
                        li.nav-item
                            a.nav-link(href="/project/manager/CompleteList") 지급된 프로젝트 관리
                        li.nav-item
                            a.nav-link(href="/auth/adminlogout") 로그아웃
        div.page
            div.form
                p.titlelabel 지급된 프로젝트
                table.table.table-striped
                    thead
                       tr
                            th
                                | #
                            th
                                | 프로젝트 이름
                            th
                                | 등록자
                            th
                                | 등록 날짜
                            th
                                | 마감 날짜
                            th
                                | 목표 금액
                            th
                                | 사용 내역
                    tbody
                        each good1 in rows
                            tr
                                - var formedDate = String(good1.PROJECT_DATE.getFullYear()) + '년 ' + String(good1.PROJECT_DATE.getMonth()+1) + '월 ' + String(good1.PROJECT_DATE.getDate() + '일 ');
                                - var formedDue = String(good1.PROJECT_DUE.getFullYear()) + '년 ' + String(good1.PROJECT_DUE.getMonth()+1) + '월 ' + String(good1.PROJECT_DUE.getDate() + '일 ');
                                td
                                    | #{good1.PROJECT_NUM}
                                td
                                    | #{good1.PROJECT_NAME}
                                td
                                    | #{good1.USER_ID}
                                td
                                    | #{formedDate}
                                td
                                    | #{formedDue}
                                td
                                    | #{good1.PROJECT_MONEY.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')}
                                td
                                      a.smallbtn(href='/project/manager/CompleteList/'+good1.PROJECT_NUM+ '/download') 사용내역

            br